.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  font-family: $main-font;
  font-weight: 400;
  line-height: 28px;
  color: $dark;
}

.page-body__promo {
  margin-bottom: 200px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 80px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 109px;
  }
}

.page-body__places {
  margin-bottom: 85px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 88px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 40px;
  }
}

.page-body__countries {
  margin-bottom: 242px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 110px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 96px;
  }
}

.page__body-price {
  margin-bottom: 137px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 123px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 51px;
  }
}

.page-body__contact {
  margin-bottom: 170px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 82px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 71px;
  }
}
