.upcoming {
  width: 100%;
  border-right: 1px solid $footer-divider;
  padding-left: 20px;
  color: $the-darkest;

  @media (max-width: $tablet-max-width) {
    padding: 0;
  }

  @media (max-width: $mobile-max-width) {
    border-right: 0;
    border-bottom: 1px solid $footer-divider;
    padding-bottom: 8px;
  }
}

.upcoming__options {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-right: -39px;

  @media (max-width: $mobile-max-width) {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 0;
    column-gap: 67px;
    row-gap: 10px;
  }
}

.upcoming__options-item {
  display: block;
  margin-right: calc(39 * 100% / 407);
  padding-right: 10px;

  @media (max-width: 1300px) {
    margin-right: 20px;
  }

  @media (max-width: 1150px) {
    margin-right: 10px;
  }

  @media (max-width: $tablet-max-width) {
    margin-right: 37px;
  }

  @media (max-width: $mobile-max-width) {
    margin: 0;
  }
}

.upcoming__tour-item {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

// .upcoming__options-item {
//   display: inline-block;
// }
