@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/montserrat-v15-latin_cyrillic-400.woff2") format("woff2");
  src: url("../fonts/montserrat-v15-latin_cyrillic-400.woff") format("woff");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/montserrat-v15-latin_cyrillic-500.woff2") format("woff2");
  src: url("../fonts/montserrat-v15-latin_cyrillic-500.woff2") format("woff");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/montserrat-v15-latin_cyrillic-600.woff2") format("woff2");
  src: url("../fonts/montserrat-v15-latin_cyrillic-600.woff2") format("woff");
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/montserrat-v15-latin_cyrillic-700.woff2") format("woff2");
  src: url("../fonts/montserrat-v15-latin_cyrillic-700.woff2") format("woff");
  font-style: normal;
  font-weight: 700; }

*,
*::before,
*::after {
  box-sizing: border-box; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

body, p, h1, h2, h3 {
  margin: 0; }

.visually-hidden {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0); }

.page-body {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 28px;
  color: #2c2e3f; }

.page-body__countries {
  margin: 200px 0; }

.page__body-price {
  margin: 200px auto !important;
  outline: 1px solid red; }

.page-body__contact {
  margin: 0 auto;
  margin: 200px auto !important;
  outline: 1px solid lightslategray; }

.button {
  display: block;
  padding: 24px 40px;
  width: 100%;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fe7865; }
  @media (max-width: 1023px) {
    .button {
      font-weight: 500;
      font-size: 10px;
      line-height: 12px; } }

.header__inner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 22px 0;
  outline: 1px solid lime; }
  @media (min-width: 1920px) {
    .header__inner-wrapper {
      width: 1180px; } }
  @media (max-width: 1023px) {
    .header__inner-wrapper {
      max-width: 726px; } }

.header__logo {
  display: flex;
  align-items: center; }
  @media (max-width: 1023px) {
    .header__logo {
      margin-left: 21px; } }

.header__logo-img {
  width: 57px;
  height: 22px; }

.header__menu {
  display: flex; }

.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden; }
  @media (max-width: 1023px) {
    .header__nav {
      display: none;
      /* DELETE */
      position: absolute;
      justify-content: start;
      align-items: start;
      flex-direction: column;
      padding-top: 134px;
      width: 100vw;
      height: 568px;
      top: 0;
      left: 0;
      background-color: #ffffff; } }

@media (max-width: 1023px) {
  .header__nav-item {
    margin-bottom: 30px;
    width: 100%;
    padding-left: 30%;
    background-color: #fbf8f8; } }

@media (max-width: 767px) {
  .header__nav-item {
    padding-left: 10%; } }

.header__nav-link {
  display: inline-block;
  padding: 5px 0;
  padding-left: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #141517;
  text-decoration: none; }
  .header__nav-link:hover {
    color: #fe7865; }
  @media (max-width: 1023px) {
    .header__nav-link {
      display: block;
      padding: 17px 0;
      width: 100%;
      font-weight: 600;
      font-size: 20px;
      line-height: 140%;
      color: #48494d; } }

.header__contacts {
  display: flex;
  margin-left: 53px; }
  @media (max-width: 1023px) {
    .header__contacts {
      display: none; } }

.contacts-phone {
  white-space: nowrap;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #141517; }
  .contacts-phone:hover {
    color: #fe7865; }
    .contacts-phone:hover .contacts-phone__icon {
      stroke: #fe7865; }

.contacts-phone__icon {
  stroke: #141517; }

.contacts-phone__text {
  margin-left: 6px; }

.promo {
  color: #ffffff; }
  @media (max-width: 767px) {
    .promo {
      position: relative; } }
  .promo::before {
    display: block;
    position: absolute;
    content: "";
    z-index: -1;
    width: 100%;
    min-height: 860px;
    outline: 1px solid red;
    /* DELETE */
    background-image: url("../img/promo-bg-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat; }
    @media (max-width: 1023px) {
      .promo::before {
        min-height: 344px;
        background-image: url("../img/promo-bg-tablet.jpg"); } }
    @media (max-width: 767px) {
      .promo::before {
        display: none; } }

.promo__inner-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  width: 100%;
  max-width: 90%; }
  @media (min-width: 1920px) {
    .promo__inner-wrapper {
      max-width: none;
      width: 1180px; } }
  @media (max-width: 1000px) {
    .promo__inner-wrapper {
      justify-content: center; } }

.promo__content {
  padding: 185px 0 290px;
  margin-right: 47px;
  width: 412px; }
  @media (max-width: 1023px) {
    .promo__content {
      margin: 0;
      padding: 60px 0 83px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center; } }
  @media (max-width: 767px) {
    .promo__content {
      padding: 0;
      width: 100%; } }

.promo__header {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px; }
  @media (max-width: 1023px) {
    .promo__header {
      margin-bottom: 15px;
      font-size: 30px;
      line-height: 150%; } }
  @media (max-width: 767px) {
    .promo__header {
      margin: 0;
      min-height: 235px;
      padding-top: 81px;
      font-size: 24px;
      word-wrap: break-word; }
      .promo__header::before {
        display: block;
        position: absolute;
        content: "";
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 235px;
        outline: 1px solid red;
        /* DELETE */
        background-image: url("../img/promo-bg-mobile.jpg");
        background-size: cover;
        background-repeat: no-repeat; } }

.promo__text {
  margin-bottom: 39px;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%; }
  @media (max-width: 1023px) {
    .promo__text {
      margin-bottom: 20px; } }
  @media (max-width: 767px) {
    .promo__text {
      max-width: 400px;
      padding-top: 20px;
      color: #2c2e3f; } }

.promo__link {
  margin-right: 72px;
  width: 340px; }
  @media (max-width: 1023px) {
    .promo__link {
      margin: 0;
      width: 250px; } }

.places {
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 100px;
  max-width: 90%; }
  @media (min-width: 1920px) {
    .places {
      max-width: none;
      width: 1180px;
      padding: 0 5px; } }
  @media (max-width: 1023px) {
    .places {
      max-width: 726px; } }
  @media (max-width: 767px) {
    .places {
      max-width: 288px; } }

.places__description {
  max-width: 360px;
  /* CHECK */
  margin-bottom: 56px; }
  @media (max-width: 1023px) {
    .places__description {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      text-align: center; } }

.places__header {
  position: relative;
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px; }
  @media (max-width: 1023px) {
    .places__header {
      margin-bottom: 20px;
      padding: 0;
      font-size: 30px;
      line-height: 150%; } }
  .places__header::before {
    display: block;
    position: absolute;
    content: "";
    width: 228px;
    height: 4px;
    background-color: #fe7865;
    bottom: 0; }
    @media (max-width: 1023px) {
      .places__header::before {
        display: none; } }

.places__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  padding-top: 30px; }
  @media (max-width: 1023px) {
    .places__text {
      padding: 0;
      max-width: 350px; } }

.places__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 60px;
       column-gap: 60px; }
  @media (min-width: 1920px) {
    .places__grid {
      width: 100%; } }
  @media (max-width: 1023px) {
    .places__grid {
      margin: 0;
      justify-content: space-between; } }

.places__grid-item {
  display: block;
  margin-right: 28px;
  margin-bottom: 100px;
  min-height: 350px;
  max-height: 430px;
  outline: 1px solid red; }
  @media (min-width: 1500px) {
    .places__grid-item {
      margin: 0;
      margin-bottom: 101px;
      width: 250px;
      /* change */
      height: 430px; } }
  .places__grid-item:last-child {
    justify-self: center; }
  @media (max-width: 1023px) {
    .places__grid-item {
      margin: 0;
      min-width: 288px; } }

.places-card {
  display: flex;
  position: relative;
  text-decoration: none;
  background-size: cover;
  background-repeat: no-repeat; }
  .places-card--greece {
    background-image: url("../img/card-greese-desktop.jpg"); }
  .places-card--albania {
    background-image: url("../img/card-albania-desktop.jpg"); }
  .places-card--macedonia {
    background-image: url("../img/card-macedonia-desktop.jpg"); }
  .places-card--montenegro {
    background-image: url("../img/card-montenegro-desktop.jpg"); }
  .places-card--croatia {
    background-image: url("../img/card-croatia-desktop.jpg"); }

.places-card__image {
  width: 100%;
  height: auto; }
  @media (max-width: 1023px) {
    .places-card__image {
      min-height: 425px; } }

.places-card__name {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 17px 0;
  width: 80%;
  background-color: #ffffff;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #2c2e3f; }

.countries__inner-wrapper {
  margin: 0 auto;
  padding-right: 22.905982906%;
  /* 268px of 1170px desktop container*/
  max-width: 90%;
  outline: 1px solid lightsalmon;
  outline-offset: 5px; }
  @media (max-width: 1023px) {
    .countries__inner-wrapper {
      padding-right: 0;
      max-width: 726px; } }
  @media (max-width: 767px) {
    .countries__inner-wrapper {
      max-width: 288px; } }

.countries__tabs {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(44, 46, 63, 0.3);
  padding-bottom: 15px; }

.countries__tabs-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(44, 46, 63, 0.3); }

.country {
  display: grid;
  grid-template-columns: 47fr 43fr;
  /* 470px 430px desktop */
  padding-top: 80px; }
  @media (max-width: 1023px) {
    .country {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-top: 33px; } }
  @media (max-width: 767px) {
    .country {
      padding-top: 24px; } }

.country__info {
  padding-right: 21.276595744%;
  /* 100px of 470px desktop */ }
  @media (max-width: 1023px) {
    .country__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-right: 0; } }

.country__name {
  position: relative;
  padding-top: 15px;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px; }
  @media (max-width: 1023px) {
    .country__name {
      margin-bottom: 20px;
      padding: 0;
      font-size: 30px;
      line-height: 150%; } }
  @media (max-width: 767px) {
    .country__name {
      font-size: 24px; } }
  .country__name::before {
    display: block;
    position: absolute;
    content: "";
    width: 228px;
    height: 4px;
    background-color: #fe7865;
    bottom: 0;
    width: 175px;
    height: 3px; }
    @media (max-width: 1023px) {
      .country__name::before {
        display: none; } }

.country__descr {
  margin-bottom: 50px;
  padding-top: 30px;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px; }
  @media (max-width: 1023px) {
    .country__descr {
      margin-bottom: 20px;
      padding: 0; } }

.country__purchase-button {
  width: 250px; }

.feedback {
  position: relative;
  align-items: center;
  outline: 1px solid red;
  position: relative; }
  @media (max-width: 1023px) {
    .feedback {
      display: flex;
      justify-content: center;
      text-align: start; } }
  @media (max-width: 767px) {
    .feedback {
      text-align: center; } }

.feedback__image {
  width: 100%;
  height: auto; }
  @media (max-width: 1023px) {
    .feedback__image {
      position: absolute;
      top: 0;
      left: -21px;
      width: 768px;
      /* CHECK */
      height: 415px;
      /* CHECK */ } }
  @media (max-width: 767px) {
    .feedback__image {
      width: 320px;
      height: 415px; } }

.feedback__content {
  position: absolute;
  width: 382px;
  top: 50%;
  transform: translateY(-50%);
  left: 200px;
  padding: 30px;
  background-color: #ffffff; }
  @media (max-width: 1023px) {
    .feedback__content {
      position: relative;
      margin-top: 48px;
      top: 32px;
      left: auto;
      transform: translateY(0); } }
  @media (max-width: 767px) {
    .feedback__content {
      margin-top: 0;
      top: 50px; } }

.feedback__title {
  position: relative;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px; }
  @media (max-width: 767px) {
    .feedback__title {
      font-size: 20px;
      line-height: 24px; } }
  .feedback__title::before {
    display: block;
    position: absolute;
    content: "";
    width: 228px;
    height: 4px;
    background-color: #fe7865;
    bottom: 0;
    width: 68px;
    height: 1px; }
    @media (max-width: 1023px) {
      .feedback__title::before {
        display: none; } }
    @media (max-width: 767px) {
      .feedback__title::before {
        left: 50%;
        transform: translateX(-50%); } }

.feedback__text {
  margin-top: 20px;
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px; }

.feedback__user {
  display: flex;
  align-items: center; }

.feedback__user-icon {
  margin-right: 16px;
  border-radius: 50%;
  width: 38px;
  height: 38px; }

.price {
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 90%; }
  @media (max-width: 1023px) {
    .price {
      display: block;
      max-width: 726px; } }
  @media (max-width: 767px) {
    .price {
      max-width: 288px; } }

.price__options {
  display: flex;
  order: 1; }
  @media (max-width: 1023px) {
    .price__options {
      justify-content: space-between;
      margin: 0 auto;
      max-width: 626px; } }
  @media (max-width: 767px) {
    .price__options {
      display: block; } }

@media (max-width: 767px) {
  .price__options-item {
    margin-bottom: 30px; } }

.price__info-wrapper {
  padding-top: 117px;
  width: 300px;
  /* DELETE */
  order: 2; }
  @media (max-width: 1023px) {
    .price__info-wrapper {
      padding: 0;
      text-align: center;
      width: auto; } }

.price__header {
  position: relative;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px; }
  @media (max-width: 1023px) {
    .price__header {
      margin-bottom: 20px;
      padding: 0;
      font-size: 30px;
      line-height: 150%; } }
  @media (max-width: 767px) {
    .price__header {
      font-size: 24px; } }
  .price__header::before {
    display: block;
    position: absolute;
    content: "";
    width: 228px;
    height: 4px;
    background-color: #fe7865;
    bottom: 0;
    width: 175px; }
    @media (max-width: 1023px) {
      .price__header::before {
        display: none; } }

.price__text {
  padding-top: 30px;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%; }
  @media (max-width: 1023px) {
    .price__text {
      padding: 0;
      margin-bottom: 30px; } }
  @media (max-width: 767px) {
    .price__text {
      margin-bottom: 20px; } }

.price__contacts-us {
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 22px;
  line-height: 34px; }
  @media (max-width: 1023px) {
    .price__contacts-us {
      font-size: 18px;
      margin-bottom: 10px; } }

.price__contacts-phone {
  text-decoration: none; }
  @media (max-width: 1023px) {
    .price__contacts-phone {
      display: block;
      margin-bottom: 30px; } }
  @media (max-width: 767px) {
    .price__contacts-phone {
      margin-bottom: 40px; } }

.price-card {
  border: 1px solid rgba(44, 46, 63, 0.3);
  border-radius: 6px; }
  .price-card:hover {
    border: 3px solid #fe7865; }
    .price-card:hover .price-card__inner-wrapper {
      padding: 28px 18px 0; }
    .price-card:hover .price-card__features-item::before {
      background-image: url("../img/checkmark-hover.png"); }

.price-card__inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 30px 30px;
  width: 370px;
  min-height: 672px;
  /* DELETE */ }
  @media (max-width: 1023px) {
    .price-card__inner-wrapper {
      padding: 30px 20px 0;
      width: 288px;
      /* DELETE */
      min-height: 629px; } }

.price-card__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: rgba(20, 21, 23, 0.7); }
  @media (max-width: 1023px) {
    .price-card__title {
      flex-direction: column;
      align-items: center;
      font-size: 24px; } }

@media (max-width: 1023px) {
  .price-card__title-name {
    margin-bottom: 10px; } }

.price-card__check-out {
  padding-bottom: 28px;
  border-bottom: 1px solid rgba(44, 46, 63, 0.3);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px; }

.price-card__features-list {
  padding-top: 30px; }

.price-card__features-item {
  position: relative;
  margin-bottom: 15px;
  padding-left: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px; }
  .price-card__features-item::before {
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 0;
    width: 22px;
    height: 22px;
    background-image: url("../img/checkmark.png");
    background-position: center;
    background-repeat: no-repeat; }

.contact {
  position: relative;
  width: 844px;
  min-height: 455px;
  background-image: url(../img/contact-bg-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  @media (max-width: 1023px) {
    .contact {
      width: 768px; } }
  @media (max-width: 767px) {
    .contact {
      width: 288px;
      background-image: none; } }

.contact__form-wrapper {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) translateX(50%);
  padding: 50px;
  background-color: #ffffff;
  text-align: center; }
  @media (max-width: 1023px) {
    .contact__form-wrapper {
      right: auto;
      left: 50%;
      transform: translateY(-50%) translateX(-50%); } }
  @media (max-width: 767px) {
    .contact__form-wrapper {
      position: relative;
      left: auto;
      transform: translateY(0) translateX(0);
      padding: 50px 0; } }

.contact__inputs-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-right: -19px; }
  @media (max-width: 767px) {
    .contact__inputs-wrapper {
      display: block; } }

.contact__input {
  border: 1px solid rgba(44, 46, 63, 0.3);
  margin-right: 19px;
  padding: 15px;
  min-width: 269px; }
  @media (max-width: 767px) {
    .contact__input {
      margin-bottom: 20px; } }
  .contact__input::-moz-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #141517; }
  .contact__input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #141517; }

.contact__header {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  color: #141517; }
  @media (max-width: 767px) {
    .contact__header {
      margin-bottom: 19px; } }

.contact__descr {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%; }

.footer__inner-wrapper {
  padding-bottom: 81px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 90%;
  margin: 0 auto; }
  @media (max-width: 1023px) {
    .footer__inner-wrapper {
      grid-template-columns: 1fr 1fr;
      padding: 0;
      max-width: 726px; } }
  @media (max-width: 767px) {
    .footer__inner-wrapper {
      display: flex;
      flex-direction: column;
      text-align: center;
      max-width: 288px; } }

.footer__header {
  margin-bottom: 17px;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px; }

.footer__contacts {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  outline: 1px solid green; }
  @media (max-width: 1023px) {
    .footer__contacts {
      align-items: center; } }
  @media (max-width: 767px) {
    .footer__contacts {
      padding: 30px 0 18px; } }

.footer__email {
  position: relative;
  margin-bottom: 19px;
  padding-left: 41px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fe7865;
  text-decoration: underline; }
  @media (max-width: 767px) {
    .footer__email {
      display: inline-block; } }
  .footer__email::before {
    display: block;
    position: absolute;
    content: "";
    left: 0;
    width: 26px;
    height: 20px;
    background-image: url("../img/email.png"); }

.footer__phone {
  position: relative;
  padding-left: 41px;
  font-size: 16px;
  color: #fe7865;
  text-decoration: underline; }
  .footer__phone::before {
    display: block;
    position: absolute;
    content: "";
    left: 0;
    width: 30px;
    height: 30px;
    background-image: url("../img/phone.png"); }

.footer__corporate {
  padding-left: 30px;
  outline: 1px solid green; }
  @media (max-width: 1023px) {
    .footer__corporate {
      grid-column-start: 1;
      grid-column-end: 3;
      padding: 30px 0 50px; } }

@media (max-width: 1023px) {
  .footer__corporate-header {
    text-align: center; } }

.footer__corporate-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 170%; }
  @media (max-width: 1023px) {
    .footer__corporate-text {
      text-align: center; } }

.upcoming {
  border-right: 1px solid #d7d9df;
  color: #141517; }

.upcoming__options {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; }
  @media (max-width: 767px) {
    .upcoming__options {
      gap: 30px;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap; } }

.upcoming__options-item {
  display: inline-block; }

.upcoming__tour {
  padding-right: 5px; }

.upcoming__tour-item {
  margin-bottom: 7px;
  word-break: break-all; }

/*# sourceMappingURL=style.css.map */
