@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/montserrat-v15-latin_cyrillic-400.woff2") format("woff2");
  src: url("../fonts/montserrat-v15-latin_cyrillic-400.woff") format("woff");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/montserrat-v15-latin_cyrillic-500.woff2") format("woff2");
  src: url("../fonts/montserrat-v15-latin_cyrillic-500.woff2") format("woff");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/montserrat-v15-latin_cyrillic-600.woff2") format("woff2");
  src: url("../fonts/montserrat-v15-latin_cyrillic-600.woff2") format("woff");
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/montserrat-v15-latin_cyrillic-700.woff2") format("woff2");
  src: url("../fonts/montserrat-v15-latin_cyrillic-700.woff2") format("woff");
  font-style: normal;
  font-weight: 700; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body,
p,
h1,
h2,
h3 {
  margin: 0; }

.visually-hidden {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0); }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.button {
  display: block;
  position: relative;
  border: 0;
  padding: 30px 40px;
  width: 100%;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fe7865; }
  @media (max-width: 1023px) {
    .button {
      padding: 19px 40px;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px; } }
  @media (max-width: 767px) {
    .button {
      width: 288px; } }
  .button--arrow::before {
    display: block;
    position: absolute;
    content: "";
    right: 40px;
    width: 15px;
    height: 15px;
    background-image: url("../img/arrow-desktop.png");
    background-repeat: no-repeat;
    background-position: center; }
  .button--arrow:active::before {
    display: none; }
  .button:hover {
    background-color: #f17d4b; }

@media (max-width: 1023px) {
  .header {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); } }

.header__inner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 34px 5px;
  padding-right: 19px;
  width: Min(90%, 1180px); }
  @media (max-width: 1023px) {
    .header__inner-wrapper {
      flex-direction: column;
      padding: 0;
      width: auto; } }

.header__logo {
  display: flex;
  align-items: center; }
  @media (max-width: 1023px) {
    .header__logo {
      margin-top: 3px; } }
  @media (max-width: 767px) {
    .header__logo {
      padding-left: 16px; } }

.header__logo-img {
  width: 57px;
  height: 22px; }
  @media (max-width: 1023px) {
    .header__logo-img {
      width: 44px;
      height: 17px; } }

@media (max-width: 1023px) {
  .header__mobile-wrapper {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    width: Min(calc(726 * 100vw / 768), 1023px); } }

.header__toggle {
  display: none; }
  @media (max-width: 1023px) {
    .header__toggle {
      display: block; } }

.header__menu {
  display: flex; }
  @media (max-width: 1023px) {
    .header__menu {
      height: 568px;
      transition: 1s height ease; }
      .header__menu--js-active {
        height: 0; }
      .header__menu--open {
        display: flex;
        height: 568px; } }

.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden; }
  @media (max-width: 1023px) {
    .header__nav {
      display: block;
      justify-content: start;
      align-items: start;
      flex-direction: column;
      padding-top: 0;
      width: 100vw;
      height: auto;
      top: 0;
      left: 0;
      background-color: #ffffff;
      transition: 1s all ease; }
      .header__nav--js-active {
        height: 0; }
      .header__nav--open {
        display: block;
        padding-top: 134px;
        height: auto; } }

@media (max-width: 1023px) {
  .header__nav-item {
    margin-bottom: 30px;
    width: 100%;
    padding-left: 30%;
    background-color: #fbf8f8; } }

@media (max-width: 767px) {
  .header__nav-item {
    padding-left: 10%; } }

.header__nav-link {
  display: inline-block;
  padding: 5px 0;
  padding-left: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #141517;
  text-decoration: none; }
  .header__nav-link:hover {
    color: #fe7865; }
  @media (max-width: 1023px) {
    .header__nav-link {
      display: block;
      padding: 17px 0;
      width: 100%;
      font-weight: 600;
      font-size: 20px;
      line-height: 140%;
      color: #48494d; } }

.header__contacts {
  display: flex;
  margin-left: 53px; }
  @media (max-width: 1023px) {
    .header__contacts {
      display: none; } }

@media (max-width: 1023px) {
  .hamburger {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    padding: 14px 25px;
    width: 72px;
    height: 50px;
    background-color: #fe7865;
    cursor: pointer;
    transition: background-color 0.5s ease; } }

@media (max-width: 767px) {
  .hamburger {
    padding: 17px 14px 19px;
    width: 50px; } }

@media (max-width: 1023px) {
  .hamburger--active {
    padding: 25px;
    background-color: #ffffff; } }

@media (max-width: 767px) {
  .hamburger--active {
    padding: 14px;
    background-color: #ffffff; } }

.hamburger--active .hamburger__line {
  margin-bottom: -2px;
  background-color: rgba(20, 21, 23, 0.2); }

.hamburger--active .hamburger__line:nth-child(1) {
  transform: translateY(-2px) rotate(-45deg); }

.hamburger--active .hamburger__line:nth-child(2) {
  display: none; }

.hamburger--active .hamburger__line:nth-child(3) {
  transform: translateY(-2px) rotate(45deg); }

.hamburger:focus {
  outline: 0; }

.hamburger__line {
  display: block;
  height: 1.5px;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 5px;
  transition: 0.5s all ease; }

.contacts-phone {
  white-space: nowrap;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #141517; }
  .contacts-phone:hover {
    color: #fe7865; }
    .contacts-phone:hover .contacts-phone__icon {
      stroke: #fe7865; }

.contacts-phone__icon {
  position: relative;
  top: 3px;
  stroke: #141517; }

.contacts-phone__text {
  position: relative;
  top: 2px;
  margin-left: 8px; }

.promo {
  color: #ffffff;
  min-height: 860px; }
  @media (max-width: 1023px) {
    .promo {
      min-height: 344px; } }
  @media (max-width: 767px) {
    .promo {
      position: relative; } }
  .promo::before {
    display: block;
    position: absolute;
    content: "";
    z-index: -1;
    width: 100%;
    min-height: 860px;
    background-image: url("../img/promo-bg-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat; }
    @media (max-width: 1023px) {
      .promo::before {
        min-height: 344px;
        background-image: url("../img/promo-bg-tablet.jpg"); } }
    @media (max-width: 767px) {
      .promo::before {
        display: none; } }

.promo__inner-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  width: Min(90%, 1180px); }
  @media (max-width: 1023px) {
    .promo__inner-wrapper {
      justify-content: center; } }
  @media (max-width: 767px) {
    .promo__inner-wrapper {
      width: auto; } }

.promo__content {
  padding: 185px 0 290px;
  margin-right: 62px;
  width: 412px; }
  @media (max-width: 1023px) {
    .promo__content {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 60px 0 83px;
      width: auto;
      max-width: 430px;
      text-align: center; } }
  @media (min-width: 900px) {
    .promo__content {
      max-width: 600px; } }
  @media (max-width: 767px) {
    .promo__content {
      padding: 0;
      width: 100%;
      max-width: none; } }

.promo__header {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.10667px; }
  @media (max-width: 1023px) {
    .promo__header {
      margin-bottom: 15px;
      line-height: 150%;
      letter-spacing: normal; }
      .promo__header {
        font-size: 30px; } }
    @media screen and (max-width: 1023px) and (min-width: 768px) {
      .promo__header {
        font-size: calc(30px + 5 * ((100vw - 768px) / 255)); } }
    @media screen and (max-width: 1023px) and (min-width: 1023px) {
      .promo__header {
        font-size: 35px; } }
  @media (max-width: 767px) {
    .promo__header {
      position: relative;
      margin: 0;
      padding: calc(81 * 100% / 320) 0;
      width: 100%;
      word-wrap: break-word; }
      .promo__header {
        font-size: 24px; } }
    @media screen and (max-width: 767px) and (min-width: 320px) {
      .promo__header {
        font-size: calc(24px + 11 * ((100vw - 320px) / 447)); } }
    @media screen and (max-width: 767px) and (min-width: 767px) {
      .promo__header {
        font-size: 35px; } }
  @media (max-width: 767px) {
      .promo__header::before {
        display: block;
        position: absolute;
        content: "";
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../img/promo-bg-mobile.jpg");
        background-size: cover;
        background-repeat: no-repeat; } }

@media (max-width: 767px) {
  .promo__header-outer-wrapper {
    width: 100%; } }

@media (max-width: 767px) {
  .promo__header-inner-wrapper {
    display: block;
    padding-left: 6px;
    margin: 0 auto;
    width: 294px; } }

@media (max-width: 1023px) {
  .promo__descr-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; } }

@media (max-width: 767px) {
  .promo__descr-wrapper {
    width: Min(calc(288 * 100vw / 320), 767px); } }

.promo__text {
  margin-bottom: 33px;
  width: 360px;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: -0.466667px; }
  @media (max-width: 1023px) {
    .promo__text {
      position: relative;
      width: auto;
      margin-bottom: 10px; }
      .promo__text {
        font-size: 16px; } }
    @media screen and (max-width: 1023px) and (min-width: 768px) {
      .promo__text {
        font-size: calc(16px + 2 * ((100vw - 768px) / 255)); } }
    @media screen and (max-width: 1023px) and (min-width: 1023px) {
      .promo__text {
        font-size: 18px; } }
  @media (min-width: 900px) {
    .promo__text {
      width: 450px; } }
  @media (min-width: 800px) {
    .promo__text {
      margin-bottom: 25px; } }
  @media (min-width: 1920px) {
    .promo__text {
      margin-bottom: 32px; } }
  @media (max-width: 767px) {
    .promo__text {
      margin-bottom: 21px;
      padding-top: 20px;
      max-width: 400px;
      color: #2c2e3f; } }

.promo__link {
  margin-right: 72px;
  width: 340px; }
  @media (max-width: 1023px) {
    .promo__link {
      margin: 0;
      width: 250px;
      text-align: left; } }

.places {
  margin: 0 auto;
  width: Min(90%, 1180px); }
  @media (min-width: 1920px) {
    .places {
      padding: 0 5px; } }
  @media (max-width: 1023px) {
    .places {
      width: Min(calc(726 * 100vw / 768), 1023px); } }
  @media (max-width: 767px) {
    .places {
      width: Min(calc(288 * 100vw / 320), 767px);
      max-width: 400px; } }

.places__description {
  max-width: 360px;
  margin-bottom: 56px; }
  @media (max-width: 1023px) {
    .places__description {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
      max-width: 100%;
      text-align: center; } }
  @media (max-width: 767px) {
    .places__description {
      margin-bottom: 19px; } }

.places__header {
  position: relative;
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.245px; }
  @media (max-width: 1023px) {
    .places__header {
      margin-bottom: 20px;
      padding: 0;
      font-size: 30px;
      line-height: 150%;
      letter-spacing: normal; } }
  @media (max-width: 767px) {
    .places__header {
      font-size: 24px; } }
  .places__header::before {
    display: block;
    position: absolute;
    content: "";
    width: 228px;
    height: 4px;
    background-color: #fe7865;
    bottom: 0; }
    @media (max-width: 1023px) {
      .places__header::before {
        display: none; } }

.places__text {
  padding-top: 33px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.61667px;
  color: rgba(44, 46, 63, 0.7); }
  @media (max-width: 1023px) {
    .places__text {
      padding: 0;
      max-width: 350px; } }

.places__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -90px;
  /* to compensate cards margin botton */
  width: 100%;
  -moz-column-gap: calc(60 * 100% / 1170);
       column-gap: calc(60 * 100% / 1170); }
  @media (max-width: 1023px) {
    .places__grid {
      position: relative;
      width: calc(606 * 100% / 726);
      -moz-column-gap: calc(34 * 100% / 726);
           column-gap: calc(34 * 100% / 726);
      margin: 0 auto;
      justify-content: center; } }
  @media (max-width: 767px) {
    .places__grid {
      display: block;
      width: 100%; } }

.places__grid-item {
  display: block;
  margin-bottom: calc(101 * 100% / 1170);
  width: calc(350 * 100% / 1170); }
  @media (min-width: 1500px) {
    .places__grid-item {
      margin: 0;
      margin-bottom: 101px;
      width: calc(350 * 100% / 1170); } }
  @media (max-width: 1023px) {
    .places__grid-item {
      margin: 0;
      margin-bottom: 20px;
      width: calc(288 * 100% / 606); } }
  @media (max-width: 767px) {
    .places__grid-item {
      margin-bottom: 35px;
      width: 100%; } }

.places-card {
  display: flex;
  position: relative;
  text-decoration: none;
  background-size: cover;
  background-repeat: no-repeat; }
  .places-card--greece {
    background-image: url("../img/card-greese-desktop.jpg"); }
    @media (max-width: 1023px) {
      .places-card--greece {
        background-image: url("../img/card-greese-tablet-mobile.jpg"); } }
  .places-card--albania {
    background-image: url("../img/card-albania-desktop.jpg"); }
    @media (max-width: 1023px) {
      .places-card--albania {
        background-image: url("../img/card-albania-tablet-mobile.jpg"); } }
  .places-card--macedonia {
    background-image: url("../img/card-macedonia-desktop.jpg"); }
    @media (max-width: 1023px) {
      .places-card--macedonia {
        background-image: url("../img/card-macedonia-tablet-mobile.jpg"); } }
  .places-card--montenegro {
    background-image: url("../img/card-montenegro-desktop.jpg"); }
    @media (max-width: 1023px) {
      .places-card--montenegro {
        background-image: url("../img/card-montenegro-tablet-mobile.jpg"); } }
  .places-card--croatia {
    background-image: url("../img/card-croatia-desktop.jpg"); }
    @media (max-width: 1023px) {
      .places-card--croatia {
        background-image: url("../img/card-croatia-tablet-mobile.jpg"); } }
  .places-card::before {
    display: block;
    position: absolute;
    content: "";
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: #141517;
    opacity: 60%;
    transition: all 0.3s ease-out;
    transform: scale(0);
    pointer-events: none; }
  .places-card::after {
    display: block;
    position: absolute;
    content: "";
    content: "Cмотреть подробнее";
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translateX(-50%) translateY(-50%);
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 30px 23px;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s ease-out;
    pointer-events: none;
    width: calc(266 * 100% / 350); }
  .places-card:hover::before {
    transform: scale(1); }
  .places-card:hover::after {
    opacity: 1; }

.places-card__body {
  width: 100%;
  padding-top: calc(430 / 350 * 100%);
  /* responsive card block (width x height) */ }
  @media (max-width: 1023px) {
    .places-card__body {
      padding-top: calc(425 / 288 * 100%); } }

.places-card__image {
  width: 100%;
  height: auto; }
  @media (max-width: 1023px) {
    .places-card__image {
      min-height: 425px; } }

.places-card__name {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 17px 0;
  width: calc(215 * 100% / 350);
  background-color: #ffffff;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.415px;
  color: #2c2e3f; }
  @media (max-width: 1023px) {
    .places-card__name {
      padding: 16px 0;
      width: calc(215 * 100% / 288); } }

.countries__inner-wrapper {
  position: relative;
  margin: 0 auto;
  padding-left: 5px;
  width: Min(90%, 1180px); }
  @media (max-width: 1023px) {
    .countries__inner-wrapper {
      padding: 0;
      width: Min(calc(726 * 100vw / 768), 1023px); } }
  @media (max-width: 767px) {
    .countries__inner-wrapper {
      max-width: Min(calc(288 * 100vw / 320), 767px); } }
  .countries__inner-wrapper::before {
    display: block;
    position: absolute;
    content: "";
    top: 132px;
    left: -135px;
    z-index: -1;
    width: calc(1444 * 100% / 1180);
    height: 1089px;
    background-image: url("../img/countries-map-bg.png"); }
    @media (max-width: 1023px) {
      .countries__inner-wrapper::before {
        display: none; } }

.countries__tabs {
  position: relative;
  left: 4px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(44, 46, 63, 0.3);
  padding-bottom: 15px;
  width: calc(900 * 100% / 1180);
  overflow-x: auto; }
  @media (max-width: 1023px) {
    .countries__tabs {
      left: 0;
      padding-left: 17px;
      width: auto; } }
  @media (max-width: 767px) {
    .countries__tabs {
      padding-left: 0; } }
  .countries__tabs::-webkit-scrollbar {
    width: 0;
    height: 0; }

.countries__tabs-item {
  font-weight: 500;
  line-height: 24px;
  color: rgba(44, 46, 63, 0.3); }
  .countries__tabs-item {
    font-size: 19px; }
    @media screen and (min-width: 1024px) {
      .countries__tabs-item {
        font-size: calc(19px + 1 * ((100vw - 1024px) / 896)); } }
    @media screen and (min-width: 1920px) {
      .countries__tabs-item {
        font-size: 20px; } }
  @media (max-width: 1023px) {
    .countries__tabs-item {
      margin-right: 102px; } }

.countries__item-button {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.415px;
  color: rgba(44, 46, 63, 0.3);
  background-color: transparent; }
  .countries__item-button {
    font-size: 19px; }
    @media screen and (min-width: 1024px) {
      .countries__item-button {
        font-size: calc(19px + 1 * ((100vw - 1024px) / 896)); } }
    @media screen and (min-width: 1920px) {
      .countries__item-button {
        font-size: 20px; } }
  .countries__item-button:hover {
    cursor: pointer; }
  .countries__item-button--active {
    color: #fe7865; }

.countries__list-item {
  display: flex;
  padding-top: 80px;
  width: calc(900 * 100% / 1180); }
  @media (max-width: 1023px) {
    .countries__list-item {
      width: 100%; } }

.country {
  display: none; }
  @media (max-width: 1023px) {
    .country {
      display: none;
      flex-direction: column;
      text-align: center;
      padding-top: 33px; } }
  @media (max-width: 767px) {
    .country {
      padding-top: 24px; } }
  .country--active {
    display: flex; }
    @media (max-width: 1023px) {
      .country--active {
        display: flex; } }

.country__info {
  width: calc(470 * 100% / 900);
  padding-right: calc(50 * 100% / 470); }
  @media (max-width: 1023px) {
    .country__info {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-right: 0;
      width: 100%; } }

.country__feedback {
  width: calc(430 * 100% / 900); }
  @media (max-width: 1023px) {
    .country__feedback {
      width: 100%; } }

.country__name {
  position: relative;
  padding-top: 10px;
  padding-bottom: 16px;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  letter-spacing: -1.245px; }
  @media (max-width: 1023px) {
    .country__name {
      margin-bottom: 20px;
      padding: 0;
      font-size: 30px;
      line-height: 150%;
      letter-spacing: normal; } }
  @media (max-width: 767px) {
    .country__name {
      font-size: 24px; } }
  .country__name::before {
    display: block;
    position: absolute;
    content: "";
    width: 228px;
    height: 4px;
    background-color: #fe7865;
    bottom: 0;
    width: 175px;
    height: 3px; }
    @media (max-width: 1023px) {
      .country__name::before {
        display: none; } }

.country__descr {
  margin-bottom: 50px;
  padding-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.466667px; }
  .country__descr {
    font-size: 15px; }
    @media screen and (min-width: 1024px) {
      .country__descr {
        font-size: calc(15px + 1 * ((100vw - 1024px) / 896)); } }
    @media screen and (min-width: 1920px) {
      .country__descr {
        font-size: 16px; } }
  @media (max-width: 1023px) {
    .country__descr {
      margin-bottom: 20px;
      padding: 0;
      letter-spacing: normal; } }

.country__purchase-button {
  width: 250px;
  padding: 30px 39px; }
  @media (max-width: 1023px) {
    .country__purchase-button {
      margin-bottom: 30px;
      padding: 19px 51px; } }
  @media (max-width: 767px) {
    .country__purchase-button {
      margin-bottom: 49px;
      width: 288px; } }

.feedback {
  display: flex;
  align-items: center;
  position: relative; }
  @media (max-width: 1023px) {
    .feedback {
      display: flex;
      justify-content: center;
      text-align: start; } }
  @media (max-width: 767px) {
    .feedback {
      text-align: center; } }

.feedback__wrapper {
  position: relative;
  width: 100%;
  padding-top: calc(596 * 100% / 430); }
  @media (max-width: 1023px) {
    .feedback__wrapper {
      padding-top: calc(440 * 100% / 768); } }
  @media (max-width: 767px) {
    .feedback__wrapper {
      padding-top: 431px; } }
  .feedback__wrapper::before {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-size: cover;
    background-repeat: no-repeat; }
    @media (max-width: 1023px) {
      .feedback__wrapper::before {
        background-image: url("../img/countries-greese-tablet.jpg");
        width: 100vw;
        left: calc((100vw - Min(calc(726 * 100vw / 768), 1023px)) / (-2) - 6px);
        /* View port width - container width / 2 - left and right gutter width */
        height: 100%; } }
  .feedback__wrapper--greese::before {
    background-image: url("../img/countries-greese-desktop.jpg"); }
    @media (max-width: 1023px) {
      .feedback__wrapper--greese::before {
        background-image: url("../img/countries-greese-tablet.jpg"); } }
    @media (max-width: 767px) {
      .feedback__wrapper--greese::before {
        background-image: url("../img/countries-greese-mobile.jpg"); } }
  .feedback__wrapper--albania::before {
    background-image: url("../img/countries-albania-desktop.jpg"); }
    @media (max-width: 1023px) {
      .feedback__wrapper--albania::before {
        background-image: url("../img/countries-albania-tablet.jpg"); } }
    @media (max-width: 767px) {
      .feedback__wrapper--albania::before {
        background-image: url("../img/countries-albania-mobile.jpg"); } }
  .feedback__wrapper--macedonia::before {
    background-image: url("../img/countries-macedonia-desktop.jpg"); }
    @media (max-width: 1023px) {
      .feedback__wrapper--macedonia::before {
        background-image: url("../img/countries-macedonia-tablet.jpg"); } }
    @media (max-width: 767px) {
      .feedback__wrapper--macedonia::before {
        background-image: url("../img/countries-macedonia-mobile.jpg"); } }
  .feedback__wrapper--montenegro::before {
    background-image: url("../img/countries-montenegro-desktop.jpg"); }
    @media (max-width: 1023px) {
      .feedback__wrapper--montenegro::before {
        background-image: url("../img/countries-montenegro-tablet.jpg"); } }
    @media (max-width: 767px) {
      .feedback__wrapper--montenegro::before {
        background-image: url("../img/countries-montenegro-mobile.jpg"); } }
  .feedback__wrapper--croatia::before {
    background-image: url("../img/countries-croatia-desktop.jpg"); }
    @media (max-width: 1023px) {
      .feedback__wrapper--croatia::before {
        background-image: url("../img/countries-croatia-tablet.jpg"); } }

.feedback__image {
  width: 100%;
  height: auto; }
  @media (max-width: 1023px) {
    .feedback__image {
      position: absolute;
      top: 0;
      left: -21px;
      width: 768px;
      height: 415px; } }
  @media (max-width: 767px) {
    .feedback__image {
      width: 320px;
      height: 415px; } }

.feedback__content {
  position: absolute;
  width: calc(382 * 100% / 430);
  top: 50%;
  transform: translateY(-50%);
  left: 75%;
  z-index: 5;
  padding: 6.97674%;
  background-color: #ffffff; }
  @media (max-width: 1023px) {
    .feedback__content {
      top: auto;
      bottom: -32px;
      left: calc(50%);
      transform: translateY(0) translateX(-50%);
      padding: 4.13223%;
      width: calc(382 * 100% / 726);
      max-width: 400px; } }
  @media (max-width: 767px) {
    .feedback__content {
      top: 50px;
      margin-top: 0;
      padding: 32px 20px;
      width: calc(268 * 100% / 288); } }

.feedback__title {
  position: relative;
  padding-bottom: 10px;
  font-weight: 500;
  letter-spacing: -0.691667px;
  line-height: 37px; }
  .feedback__title {
    font-size: 28px; }
    @media screen and (min-width: 1024px) {
      .feedback__title {
        font-size: calc(28px + 2 * ((100vw - 1024px) / 896)); } }
    @media screen and (min-width: 1920px) {
      .feedback__title {
        font-size: 30px; } }
  @media (max-width: 1023px) {
    .feedback__title {
      line-height: 37px; }
      .feedback__title {
        font-size: 30px; } }
    @media screen and (max-width: 1023px) and (min-width: 768px) {
      .feedback__title {
        font-size: calc(30px + 5 * ((100vw - 768px) / 255)); } }
    @media screen and (max-width: 1023px) and (min-width: 1023px) {
      .feedback__title {
        font-size: 35px; } }
  @media (max-width: 767px) {
    .feedback__title {
      font-size: 20px;
      line-height: 24px; } }
  .feedback__title::before {
    display: block;
    position: absolute;
    content: "";
    width: 228px;
    height: 4px;
    background-color: #fe7865;
    bottom: 0;
    width: 68px;
    height: 1px; }
    @media (max-width: 1023px) {
      .feedback__title::before {
        display: none; } }
    @media (max-width: 767px) {
      .feedback__title::before {
        left: 50%;
        transform: translateX(-50%); } }

.feedback__text {
  margin-top: 22px;
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.408333px; }
  @media (max-width: 1023px) {
    .feedback__text {
      font-size: 14px; } }
  @media screen and (max-width: 1023px) and (min-width: 768px) {
    .feedback__text {
      font-size: calc(14px + 3 * ((100vw - 768px) / 255)); } }
  @media screen and (max-width: 1023px) and (min-width: 1023px) {
    .feedback__text {
      font-size: 17px; } }
  @media (max-width: 767px) {
    .feedback__text {
      margin-bottom: 16px; } }

.feedback__user {
  display: flex;
  align-items: center; }
  @media (max-width: 767px) {
    .feedback__user {
      flex-direction: column; } }

.feedback__user-icon {
  margin-right: 16px;
  border-radius: 50%;
  width: 38px;
  height: 38px; }
  @media (max-width: 767px) {
    .feedback__user-icon {
      margin: 0;
      margin-bottom: 12px; } }

.feedback__user-name {
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.466667px; }
  .feedback__user-name {
    font-size: 15px; }
    @media screen and (min-width: 1024px) {
      .feedback__user-name {
        font-size: calc(15px + 1 * ((100vw - 1024px) / 896)); } }
    @media screen and (min-width: 1920px) {
      .feedback__user-name {
        font-size: 16px; } }
  @media (max-width: 1023px) {
    .feedback__user-name {
      font-size: 16px; } }
  @media screen and (max-width: 1023px) and (min-width: 768px) {
    .feedback__user-name {
      font-size: calc(16px + 3 * ((100vw - 768px) / 255)); } }
  @media screen and (max-width: 1023px) and (min-width: 1023px) {
    .feedback__user-name {
      font-size: 19px; } }
  @media (max-width: 767px) {
    .feedback__user-name {
      padding-left: 7px; } }

.price {
  position: relative;
  left: 4px;
  display: grid;
  grid-template-columns: 77fr 41fr;
  /* 770px 410px */
  margin: 0 auto;
  width: Min(98%, 1180px); }
  @media (max-width: 1023px) {
    .price {
      display: block;
      width: Min(calc(726 * 100vw / 768), 1023px); } }
  @media (max-width: 767px) {
    .price {
      max-width: Min(calc(288 * 100vw / 320), 767px); } }

.price__options {
  display: flex;
  -moz-column-gap: calc(30 * 100% / 770);
       column-gap: calc(30 * 100% / 770);
  order: 1; }
  @media (max-width: 1023px) {
    .price__options {
      position: relative;
      left: -5px;
      justify-content: space-between;
      margin: 0 auto;
      width: calc(626 * 100% / 726); } }
  @media (max-width: 767px) {
    .price__options {
      display: block;
      width: 100%; } }

.price__options-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(370 * 100% / 770); }
  @media (max-width: 1023px) {
    .price__options-item {
      width: calc(288 * 100% / 626); } }
  @media (max-width: 767px) {
    .price__options-item {
      margin-bottom: 26px;
      width: 100%; } }

.price__info-wrapper-outer {
  display: flex;
  justify-content: flex-end;
  padding-top: 112px;
  order: 2; }
  @media (max-width: 1300px) {
    .price__info-wrapper-outer {
      padding-top: 50px; } }
  @media (max-width: 1023px) {
    .price__info-wrapper-outer {
      padding: 0;
      text-align: center;
      width: auto; } }

.price__info-wrapper-inner {
  width: calc(268 * 100% / 370); }
  @media (max-width: 1300px) {
    .price__info-wrapper-inner {
      margin-right: 50px; } }
  @media (max-width: 1023px) {
    .price__info-wrapper-inner {
      position: relative;
      margin: 0;
      width: auto; } }

.price__header {
  position: relative;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px; }
  @media (max-width: 1023px) {
    .price__header {
      position: relative;
      left: -4px;
      margin-bottom: 20px;
      padding: 0;
      font-size: 30px;
      line-height: 150%; } }
  @media (max-width: 767px) {
    .price__header {
      font-size: 24px; } }
  .price__header::before {
    display: block;
    position: absolute;
    content: "";
    width: 228px;
    height: 4px;
    background-color: #fe7865;
    bottom: 0;
    width: 175px; }
    @media (max-width: 1023px) {
      .price__header::before {
        display: none; } }

.price__text {
  padding-top: 30px;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%; }
  @media (max-width: 1023px) {
    .price__text {
      padding: 0;
      margin-bottom: 34px; } }
  @media (max-width: 767px) {
    .price__text {
      position: relative;
      left: -5px;
      margin-bottom: 20px; } }

.price__contacts-us {
  margin-left: 47px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 34px; }
  .price__contacts-us {
    font-size: 18px; }
    @media screen and (min-width: 1024px) {
      .price__contacts-us {
        font-size: calc(18px + 4 * ((100vw - 1024px) / 896)); } }
    @media screen and (min-width: 1920px) {
      .price__contacts-us {
        font-size: 22px; } }
  @media (max-width: 1023px) {
    .price__contacts-us {
      margin-bottom: 10px;
      padding-right: 58px;
      font-size: 18px; } }

.price__contacts-phone {
  padding-left: 47px;
  line-height: 32px;
  text-decoration: none; }
  .price__contacts-phone {
    font-size: 18px; }
    @media screen and (min-width: 1024px) {
      .price__contacts-phone {
        font-size: calc(18px + 2 * ((100vw - 1024px) / 896)); } }
    @media screen and (min-width: 1920px) {
      .price__contacts-phone {
        font-size: 20px; } }
  @media (max-width: 1023px) {
    .price__contacts-phone {
      display: block;
      margin-bottom: 29px;
      padding-right: 50px; } }
  @media (max-width: 767px) {
    .price__contacts-phone {
      margin-bottom: 40px; } }
  .price__contacts-phone::before {
    display: block;
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("../img/phone-accent.png");
    background-position: center;
    background-repeat: no-repeat; }
    @media (max-width: 1023px) {
      .price__contacts-phone::before {
        display: none; } }

.price__buy-button {
  position: relative;
  top: -15px;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 310px;
  text-align: center; }
  @media (max-width: 1023px) {
    .price__buy-button {
      top: 0;
      margin: 0;
      width: 100%; } }
  @media (max-width: 767px) {
    .price__buy-button {
      margin: 0 auto;
      width: 288px; } }

.price-card {
  border: 1px solid rgba(44, 46, 63, 0.3);
  border-radius: 6px;
  height: 100%; }
  .price-card:hover {
    border: 3px solid #fe7865; }
    .price-card:hover .price-card__inner-wrapper {
      padding: 37px 28px 28px; }
      @media (max-width: 1023px) {
        .price-card:hover .price-card__inner-wrapper {
          margin-bottom: -3px;
          padding: 28px 18px 0; } }
    .price-card:hover .price-card__features-item::before {
      background-image: url("../img/checkmark-hover.png"); }
    .price-card:hover .price-card__title {
      color: #fe7865; }
    .price-card:hover .price__buy-button {
      top: -13px; }
      @media (max-width: 1023px) {
        .price-card:hover .price__buy-button {
          top: auto;
          padding-bottom: 16px; } }
    .price-card:hover .price-card__check-out {
      border-color: #fe7865; }
  .price-card--econom {
    min-height: 629px; }

.price-card__inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 39px 30px 30px; }
  @media (max-width: 1023px) {
    .price-card__inner-wrapper {
      justify-content: flex-start;
      padding: 30px 20px 0;
      min-height: 579px; } }
  @media (max-width: 767px) {
    .price-card__inner-wrapper {
      min-height: 564px; } }

.price-card__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -1.27273px;
  color: rgba(20, 21, 23, 0.7); }
  @media (max-width: 1023px) {
    .price-card__title {
      flex-direction: column;
      align-items: center;
      margin-bottom: 11px;
      font-size: 24px; } }
  .price-card__title--complex {
    letter-spacing: normal; }

@media (max-width: 1023px) {
  .price-card__title-name {
    margin-bottom: 10px; } }

.price-card__title-price {
  font-weight: 700;
  font-size: 25px;
  line-height: 34px; }
  .price-card__title-price--econom {
    position: relative;
    top: 3px;
    left: -2px; }
    @media (max-width: 1023px) {
      .price-card__title-price--econom {
        top: 0;
        left: -5px; } }
    @media (max-width: 767px) {
      .price-card__title-price--econom {
        letter-spacing: 0.9px; } }

.price-card__check-out {
  border-bottom: 1px solid rgba(44, 46, 63, 0.3);
  padding-bottom: 28px;
  width: 280px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px; }
  @media (max-width: 1023px) {
    .price-card__check-out {
      padding-bottom: 8px;
      width: auto;
      text-align: center; } }

.price-card__features-list {
  padding-top: 30px; }
  @media (max-width: 1023px) {
    .price-card__features-list {
      padding-top: 21px; } }

.price-card__features-item {
  position: relative;
  margin-bottom: 15px;
  padding-left: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px; }
  @media (max-width: 1023px) {
    .price-card__features-item {
      margin-bottom: 10px; } }
  .price-card__features-item::before {
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 0;
    width: 22px;
    height: 22px;
    background-image: url("../img/checkmark.png");
    background-position: center;
    background-repeat: no-repeat; }
  .price-card__features-item--complex {
    margin-bottom: 12px; }
    @media (max-width: 1023px) {
      .price-card__features-item--complex {
        margin-bottom: 8px; } }

.contact {
  margin: 0 auto;
  width: Min(90%, 1180px); }
  @media (max-width: 1023px) {
    .contact {
      background-image: url("../img/contact-bg-desktop.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%; } }
  @media (max-width: 767px) {
    .contact {
      background-image: none;
      background-color: #fbf8f8; } }

.contact__inner-wrapper {
  position: relative;
  margin-left: 17px;
  width: calc(844 * 100% / 1180);
  min-height: 455px;
  background-image: url("../img/contact-bg-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  @media (max-width: 1023px) {
    .contact__inner-wrapper {
      width: Min(calc(726 * 100vw / 768), 1023px); } }
  @media (max-width: 767px) {
    .contact__inner-wrapper {
      width: Min(calc(288 * 100vw / 320), 767px);
      min-height: auto;
      background-image: none; } }

.contact__form-wrapper {
  position: absolute;
  top: 50%;
  right: 9px;
  transform: translateY(-50%) translateX(50%);
  border-radius: 5px;
  padding-top: 51px;
  padding-bottom: 48px;
  padding-left: 57px;
  padding-right: 42px;
  background-color: #ffffff;
  text-align: center; }
  @media (max-width: 1300px) {
    .contact__form-wrapper {
      right: 50px;
      padding: 30px; } }
  @media (max-width: 1023px) {
    .contact__form-wrapper {
      right: auto;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      padding-top: 49px;
      padding-bottom: 52px;
      padding-left: 52px;
      padding-right: 48px; } }
  @media (max-width: 767px) {
    .contact__form-wrapper {
      position: relative;
      left: auto;
      transform: translateY(0) translateX(0);
      padding: 50px 0 46px;
      background-color: #fbf8f8; } }

.contact__inputs-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-right: -19px; }
  @media (max-width: 1023px) {
    .contact__inputs-wrapper {
      margin-bottom: 20px; } }
  @media (max-width: 767px) {
    .contact__inputs-wrapper {
      display: block;
      margin: 0; } }

.contact__input-wrapper--phone {
  position: relative; }

.contact__input-placeholder {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%; }
  .contact__input-placeholder::before {
    display: block;
    position: absolute;
    content: "";
    content: "Введите 10 цифр номера";
    top: 16px;
    left: 24px;
    width: 239px;
    height: 29px;
    z-index: -1;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #141517; }
    @media (max-width: 767px) {
      .contact__input-placeholder::before {
        top: -54px;
        left: 20px; } }

.contact__input {
  border: 1px solid rgba(44, 46, 63, 0.3);
  margin-right: 19px;
  padding: 15px;
  min-width: 269px; }
  @media (max-width: 767px) {
    .contact__input {
      margin-bottom: 24px;
      width: 100%; } }
  .contact__input::-moz-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #141517; }
  .contact__input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #141517; }
  .contact__input--phone {
    position: relative;
    z-index: 1;
    padding-left: 25px;
    background-color: transparent; }

.contact__input--phone:focus + .contact__input-placeholder {
  display: none; }

.contact__header {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  color: #141517; }
  .contact__header {
    font-size: 22px; }
    @media screen and (min-width: 1024px) {
      .contact__header {
        font-size: calc(22px + 3 * ((100vw - 1024px) / 896)); } }
    @media screen and (min-width: 1920px) {
      .contact__header {
        font-size: 25px; } }
  @media (max-width: 1023px) {
    .contact__header {
      font-size: 25px; } }
  @media (max-width: 767px) {
    .contact__header {
      margin-bottom: 19px; } }

.contact__descr {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%; }
  @media (max-width: 767px) {
    .contact__descr {
      margin-bottom: 20px; } }

.contact__submit-button {
  margin: 0 auto;
  padding: 18px 30px;
  width: 176px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px; }
  @media (max-width: 1023px) {
    .contact__submit-button {
      padding: 19px 30px;
      width: 250px;
      font-weight: 500;
      line-height: 12px; } }
  @media (max-width: 767px) {
    .contact__submit-button {
      width: 288px; } }
  .contact__submit-button:hover {
    cursor: pointer; }

.footer__inner-wrapper {
  padding-bottom: 81px;
  display: grid;
  grid-template-columns: calc(407 * 100% / 1180) 38fr 37fr;
  width: Min(90%, 1180px);
  margin: 0 auto; }
  @media (max-width: 1023px) {
    .footer__inner-wrapper {
      grid-template-columns: 395fr 331fr;
      row-gap: 16px;
      padding: 0;
      width: Min(calc(726 * 100vw / 768), 1023px); } }
  @media (max-width: 767px) {
    .footer__inner-wrapper {
      display: flex;
      flex-direction: column;
      text-align: center;
      row-gap: 0;
      max-width: 288px; } }

.footer__header {
  margin-bottom: 22px;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px; }
  @media (max-width: 767px) {
    .footer__header {
      padding-right: 11px;
      width: 100%; } }

.footer__contacts {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #d7d9df;
  padding-left: calc(90 * 100% / 380); }
  @media (max-width: 1300px) {
    .footer__contacts {
      padding-left: 70px; } }
  @media (max-width: 1150px) {
    .footer__contacts {
      padding-left: 30px; } }
  @media (max-width: 1023px) {
    .footer__contacts {
      align-items: flex-start;
      padding-left: 50px; } }
  @media (max-width: 767px) {
    .footer__contacts {
      border-right: 0;
      padding: 29px 0 13px; } }

@media (max-width: 767px) {
  .footer__contacts-header {
    margin-bottom: 29px; } }

.footer__email {
  position: relative;
  margin-bottom: 19px;
  padding-left: 41px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fe7865;
  text-decoration: underline; }
  @media (max-width: 1023px) {
    .footer__email {
      text-decoration: none; } }
  @media (max-width: 767px) {
    .footer__email {
      display: inline-block;
      margin-bottom: 14px;
      width: 100%; } }
  .footer__email::before {
    display: block;
    position: absolute;
    content: "";
    left: 0;
    width: 26px;
    height: 20px;
    background-image: url("../img/email.png"); }
    @media (max-width: 767px) {
      .footer__email::before {
        top: -4px;
        left: 15px; } }

.footer__phone {
  position: relative;
  padding-left: 41px;
  font-size: 16px;
  color: #fe7865;
  text-decoration: underline; }
  @media (max-width: 767px) {
    .footer__phone {
      padding-left: 80px; } }
  .footer__phone::before {
    display: block;
    position: absolute;
    content: "";
    left: 0;
    width: 30px;
    height: 30px;
    background-image: url("../img/phone.png"); }
    @media (max-width: 767px) {
      .footer__phone::before {
        top: -4px;
        left: 40px; } }

.footer__corporate {
  padding-left: calc(47 * 100% / 380); }
  @media (max-width: 1023px) {
    .footer__corporate {
      grid-column-start: 1;
      grid-column-end: 3;
      border-top: 1px solid #d7d9df;
      padding: 30px 0 50px; } }

@media (max-width: 1023px) {
  .footer__corporate-header {
    text-align: center; } }

@media (max-width: 767px) {
  .footer__corporate-header {
    position: relative;
    left: 3px;
    margin-bottom: 21px;
    padding: 0; } }

.footer__corporate-text {
  width: calc(320 * 100% / 335);
  font-weight: 400;
  font-size: 14px;
  line-height: 170%; }
  @media (max-width: 1023px) {
    .footer__corporate-text {
      width: auto;
      text-align: center; } }
  @media (max-width: 767px) {
    .footer__corporate-text {
      line-height: 172%; } }

.upcoming {
  width: 100%;
  border-right: 1px solid #d7d9df;
  padding-left: 20px;
  color: #141517; }
  @media (max-width: 1023px) {
    .upcoming {
      padding: 0; } }
  @media (max-width: 767px) {
    .upcoming {
      border-right: 0;
      border-bottom: 1px solid #d7d9df;
      padding-bottom: 8px; } }

.upcoming__options {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-right: -39px; }
  @media (max-width: 767px) {
    .upcoming__options {
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-right: 0;
      -moz-column-gap: 67px;
           column-gap: 67px;
      row-gap: 10px; } }

.upcoming__options-item {
  display: block;
  margin-right: calc(39 * 100% / 407);
  padding-right: 10px; }
  @media (max-width: 1300px) {
    .upcoming__options-item {
      margin-right: 20px; } }
  @media (max-width: 1150px) {
    .upcoming__options-item {
      margin-right: 10px; } }
  @media (max-width: 1023px) {
    .upcoming__options-item {
      margin-right: 37px; } }
  @media (max-width: 767px) {
    .upcoming__options-item {
      margin: 0; } }

.upcoming__tour-item {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px; }

.page-body {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 28px;
  color: #2c2e3f; }

.page-body__promo {
  margin-bottom: 200px; }
  @media (max-width: 1023px) {
    .page-body__promo {
      margin-bottom: 80px; } }
  @media (max-width: 767px) {
    .page-body__promo {
      margin-bottom: 109px; } }

.page-body__places {
  margin-bottom: 85px; }
  @media (max-width: 1023px) {
    .page-body__places {
      margin-bottom: 88px; } }
  @media (max-width: 767px) {
    .page-body__places {
      margin-bottom: 40px; } }

.page-body__countries {
  margin-bottom: 242px; }
  @media (max-width: 1023px) {
    .page-body__countries {
      margin-bottom: 110px; } }
  @media (max-width: 767px) {
    .page-body__countries {
      margin-bottom: 96px; } }

.page__body-price {
  margin-bottom: 137px; }
  @media (max-width: 1023px) {
    .page__body-price {
      margin-bottom: 123px; } }
  @media (max-width: 767px) {
    .page__body-price {
      margin-bottom: 51px; } }

.page-body__contact {
  margin-bottom: 170px; }
  @media (max-width: 1023px) {
    .page-body__contact {
      margin-bottom: 82px; } }
  @media (max-width: 767px) {
    .page-body__contact {
      margin-bottom: 71px; } }

@media (max-width: 1023px) {
  .js-disabled {
    display: block; } }

.modal-buy__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7); }
  .modal-buy__overlay--open {
    display: block; }

.modal-buy__inner-wrapper {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 728px;
  background-image: url("../img/modal-buy-bg.jpg");
  background-size: 338px 444px;
  background-repeat: no-repeat;
  background-position: top left; }
  @media (max-width: 900px) {
    .modal-buy__inner-wrapper {
      width: 650px; } }
  @media (max-width: 700px) {
    .modal-buy__inner-wrapper {
      width: 400px; } }
  @media (max-width: 500px) {
    .modal-buy__inner-wrapper {
      width: 300px; } }

.modal-buy__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 72px 79px 89px 59px;
  background-color: #fbf8f8; }
  @media (max-width: 700px) {
    .modal-buy__form {
      padding: 70px; } }
  @media (max-width: 500px) {
    .modal-buy__form {
      padding: 20px; } }

.modal-buy__inputs-wrapper {
  display: flex;
  flex-direction: column; }

.modal-buy__header {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 25px;
  line-height: 170%;
  text-align: center; }

.modal-buy__input {
  margin-bottom: 20px;
  padding: 16px 15px 15px;
  min-width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #48494d; }
  .modal-buy__input::-moz-placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #48494d; }
  .modal-buy__input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #48494d; }

.modal-buy__button-submit {
  padding: 18px;
  width: 176px;
  text-transform: uppercase; }
  @media (max-width: 1023px) {
    .modal-buy__button-submit {
      font-size: 14px; } }
  .modal-buy__button-submit:hover {
    cursor: pointer; }

.modal-buy__button-close {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 0;
  width: 22px;
  height: 22px;
  background-color: transparent;
  background-image: url("../img/close-button.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .modal-buy__button-close:hover {
    cursor: pointer; }

.success-message__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7); }
  .success-message__overlay--open {
    display: block; }

.success-message__outer-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 728px;
  height: 444px;
  background-color: #fbf8f8; }
  @media (max-width: 850px) {
    .success-message__outer-wrapper {
      width: 600px; } }
  @media (max-width: 700px) {
    .success-message__outer-wrapper {
      width: 450px;
      height: 380px; } }
  @media (max-width: 550px) {
    .success-message__outer-wrapper {
      width: 300px;
      height: 300px; } }

.success-message__inner-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }

.success-message__header {
  font-weight: 500;
  font-size: 25px;
  line-height: 170%;
  color: #48494d;
  text-align: center; }
  @media (max-width: 550px) {
    .success-message__header {
      font-size: 22px; } }

.success-message__button-close {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 0;
  width: 22px;
  height: 22px;
  background-color: transparent;
  background-image: url("../img/close-button.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .success-message__button-close:hover {
    cursor: pointer; }

/*# sourceMappingURL=style.css.map */
