$accent: #fe7865;
$accent-hover: #f17d4b;
$dark: #2c2e3f;
$the-darkest: #141517;
$light: #ffffff;
$nav-link: #48494d;
$nav-background: #fbf8f8;
$footer-divider: #d7d9df;

$desktop-big-min-width: 1920px;
$tablet-max-width: 1023px;
$mobile-max-width: 767px;

// Ширина контента
$desktop-big-content-width: 1180px;
$desktop-content-width: 90%;
$tablet-content-width: 726px;
$mobile-content-width: 288px;

// Отзывчивая ширина контента
$desktop-content-responsive: Min(
  #{$desktop-content-width},
  #{$desktop-big-content-width}
);

@mixin beforeafter {
  display: block;
  position: absolute;
  content: "";
}

@mixin headerunderline {
  @include beforeafter;
  width: 228px;
  height: 4px;
  background-color: $accent;
  bottom: 0;

  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

// Responsive Text

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-font($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}
