.contacts-phone {
  white-space: nowrap;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: $the-darkest;

  &:hover {
    color: $accent;

    .contacts-phone__icon {
      stroke: $accent;
    }
  }
}

.contacts-phone__icon {
  stroke: $the-darkest;
}

.contacts-phone__text {
  margin-left: 6px;
}
