.contact {
  margin: 0 auto;
  width: $desktop-content-responsive;

  @media (max-width: $tablet-max-width) {
    background-image: url(../img/contact-bg-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }

  @media (max-width: $mobile-max-width) {
    background-image: none;
    background-color: $nav-background;
  }
}

.contact__inner-wrapper {
  position: relative;
  margin-left: 17px;
  width: calc(844 * 100% / 1180);
  min-height: 455px;

  background-image: url(../img/contact-bg-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: $tablet-max-width) {
    width: $tablet-content-responsive;
  }

  @media (max-width: $mobile-max-width) {
    width: $mobile-content-responsive;
    min-height: auto;
    background-image: none;
  }
}

.contact__form-wrapper {
  position: absolute;
  top: 50%;
  right: 9px;
  transform: translateY(-50%) translateX(50%);
  border-radius: 5px;
  padding-top: 51px;
  padding-bottom: 48px;
  padding-left: 57px;
  padding-right: 42px;
  background-color: $light;
  text-align: center;

  @media (max-width: 1300px) {
    right: 50px;
    padding: 30px;
  }

  @media (max-width: $tablet-max-width) {
    right: auto;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding-top: 49px;
    padding-bottom: 52px;
    padding-left: 52px;
    padding-right: 48px;
  }

  @media (max-width: $mobile-max-width) {
    position: relative;
    left: auto;
    transform: translateY(0) translateX(0);
    padding: 50px 0 46px;
    background-color: $nav-background;
  }
}

.contact__inputs-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-right: -19px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-max-width) {
    display: block;
    margin: 0;
  }
}

.contact__input-wrapper--phone {
  position: relative;
}

.contact__input-placeholder {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;

  &::before {
    @include beforeafter;
    content: "Введите 10 цифр номера";
    top: 16px;
    left: 24px;
    width: 239px;
    height: 29px;
    z-index: -1;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $the-darkest;

    @media (max-width: $mobile-max-width) {
      top: -54px;
      left: 20px;
    }
  }
}

.contact__input {
  border: 1px solid rgba($dark, 0.3);
  margin-right: 19px;
  padding: 15px;
  min-width: 269px;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 24px;
    width: 100%;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $the-darkest;
  }

  &--phone {
    position: relative;
    z-index: 1;
    padding-left: 25px;
    background-color: transparent;
  }
}

.contact__input--phone:focus + .contact__input-placeholder {
  display: none;
}

.contact__header {
  margin-bottom: 12px;
  font-weight: 600;
  @include fluid-font(1024px, 1920px, 22px, 25px);
  font-size: 25px;
  line-height: 32px;
  color: $the-darkest;

  @media (max-width: $tablet-max-width) {
    font-size: 25px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 19px;
  }
}

.contact__descr {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 20px;
  }
}

.contact__submit-button {
  margin: 0 auto;
  padding: 18px 30px;
  width: 176px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  @media (max-width: $tablet-max-width) {
    padding: 19px 30px;
    width: 250px;
    font-weight: 500;
    line-height: 12px;
  }

  @media (max-width: $mobile-max-width) {
    width: 288px;
  }

  &:hover {
    cursor: pointer;
  }
}
