.contact {
  position: relative;
  width: 844px;
  min-height: 455px;
  background-image: url(../img/contact-bg-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: $tablet-max-width) {
    width: 768px;
  }

  @media (max-width: $mobile-max-width) {
    width: $mobile-content-width;
    background-image: none;
  }
}

.contact__form-wrapper {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) translateX(50%);
  padding: 50px;
  background-color: $light;
  text-align: center;

  @media (max-width: $tablet-max-width) {
    right: auto;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  @media (max-width: $mobile-max-width) {
    position: relative;
    left: auto;
    transform: translateY(0) translateX(0);
    padding: 50px 0;
  }
}

.contact__inputs-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-right: -19px;

  @media (max-width: $mobile-max-width) {
    display: block;
  }
}

.contact__input {
  border: 1px solid rgba($dark, 0.3);
  margin-right: 19px;
  padding: 15px;
  min-width: 269px;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 20px;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $the-darkest;
  }
}

.contact__header {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  color: $the-darkest;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 19px;
  }
}

.contact__descr {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
