.country {
  @media (max-width: $tablet-max-width) {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 33px;
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 24px;
  }
}

.country__info {
  width: calc(470 * 100% / 900);
  padding-right: calc(50 * 100% / 470);

  @media (max-width: $tablet-max-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0;
  }
}

.country__feedback {
  width: calc(430 * 100% / 900);
}

.country__name {
  position: relative;
  padding-top: 10px;
  padding-bottom: 16px;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  letter-spacing: -1.245px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 20px;
    padding: 0;
    font-size: 30px;
    line-height: 150%;
  }

  @media (max-width: $mobile-max-width) {
    font-size: 24px;
  }

  &::before {
    @include headerunderline;
    width: 175px;
    height: 3px;
  }
}

.country__descr {
  margin-bottom: 50px;
  padding-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.466667px;

  @include fluid-font(1024px, 1920px, 15px, 16px);

  font-size: 16px;
  line-height: 28px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 20px;
    padding: 0;
  }
}

.country__purchase-button {
  width: 250px;
  padding: 30px 39px;
}
