.countries__inner-wrapper {
  position: relative;
  margin: 0 auto;
  padding-left: 5px;
  width: $desktop-content-responsive;
  outline: 1px solid lightsalmon;
  outline-offset: 5px;

  @media (max-width: $tablet-max-width) {
    padding-right: 0;
    max-width: $tablet-content-width;
  }

  @media (max-width: $mobile-max-width) {
    max-width: $mobile-content-width;
  }

  &::before {
    @include beforeafter;
    top: 132px;
    left: -135px;
    z-index: -1;
    width: calc(1444 * 100% / 1180);
    height: 1089px;

    background-image: url("../img/countries-map-bg.png");
  }
}

.countries__tabs {
  position: relative;
  left: 4px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba($dark, 0.3);
  padding-bottom: 15px;
  width: calc(900 * 100% / 1180);
}

.countries__tabs-item {
  font-weight: 500;
  @include fluid-font(
    $tablet-max-width + 1px,
    $desktop-big-min-width,
    19px,
    20px
  );
  line-height: 24px;
  color: rgba($dark, 0.3);
}

.countries__list-item {
  width: calc(900 * 100% / 1180);
  display: flex;
  padding-top: 80px;
}
