.footer__inner-wrapper {
  padding-bottom: 81px;
  display: grid;
  grid-template-columns: calc(407 * 100% / 1180) 38fr 37fr;
  width: $desktop-content-responsive;
  margin: 0 auto;

  @media (max-width: $tablet-max-width) {
    grid-template-columns: 395fr 331fr;
    row-gap: 16px;
    padding: 0;
    width: $tablet-content-responsive;
  }

  @media (max-width: $mobile-max-width) {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: $mobile-content-width;
  }
}

.footer__header {
  margin-bottom: 22px;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #d7d9df;
  padding-left: calc(90 * 100% / 380);

  @media (max-width: 1300px) {
    padding-left: 70px;
  }

  @media (max-width: 1150px) {
    padding-left: 30px;
  }

  @media (max-width: $tablet-max-width) {
    align-items: flex-start;
    padding-left: 50px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 30px 0 18px;
  }
}

.footer__email {
  position: relative;
  margin-bottom: 19px;
  padding-left: 41px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $accent;
  text-decoration: underline;

  @media (max-width: $tablet-max-width) {
    text-decoration: none;
  }

  @media (max-width: $mobile-max-width) {
    display: inline-block;
  }

  &::before {
    @include beforeafter;
    left: 0;
    width: 26px;
    height: 20px;
    background-image: url("../img/email.png");
  }
}

.footer__phone {
  position: relative;
  padding-left: 41px;
  font-size: 16px;
  color: $accent;
  text-decoration: underline;

  &::before {
    @include beforeafter;
    left: 0;
    width: 30px;
    height: 30px;
    background-image: url("../img/phone.png");
  }
}

.footer__corporate {
  padding-left: calc(47 * 100% / 380);

  @media (max-width: $tablet-max-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    border-top: 1px solid $footer-divider;
    padding: 30px 0 50px;
  }
}

.footer__corporate-header {
  @media (max-width: $tablet-max-width) {
    text-align: center;
  }
}

.footer__corporate-text {
  width: calc(320 * 100% / 335);
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;

  @media (max-width: $tablet-max-width) {
    width: auto;
    text-align: center;
  }
}
