.header {
  @media (max-width: $tablet-max-width) {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  }
}

.header__inner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 34px 5px;
  padding-right: 19px;
  width: $desktop-content-responsive;

  @media (max-width: $tablet-max-width) {
    padding: 18px 0 15px;
    width: auto;
  }
}

.header__logo {
  display: flex;
  align-items: center;

  @media (max-width: $tablet-max-width) {
    padding-left: 21px;
  }

  @media (max-width: $mobile-max-width) {
    padding-left: 16px;
  }
}

.header__logo-img {
  width: 57px;
  height: 22px;

  @media (max-width: $tablet-max-width) {
    width: 44px;
    height: 17px;
  }
}

.header__menu {
  display: flex;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;

  @media (max-width: $tablet-max-width) {
    display: none; /* DELETE */
    position: absolute;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding-top: 134px;
    width: 100vw;
    height: 568px;
    top: 0;
    left: 0;
    background-color: $light;
  }
}

.header__nav-item {
  @media (max-width: $tablet-max-width) {
    margin-bottom: 30px;
    width: 100%;
    padding-left: 30%;
    background-color: $nav-background;
  }

  @media (max-width: $mobile-max-width) {
    padding-left: 10%;
  }
}

.header__nav-link {
  display: inline-block;
  padding: 5px 0;
  padding-left: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $the-darkest;
  text-decoration: none;

  &:hover {
    color: $accent;
  }

  @media (max-width: $tablet-max-width) {
    display: block;
    padding: 17px 0;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: $nav-link;
  }
}

.header__contacts {
  display: flex;
  margin-left: 53px;

  @media (max-width: $tablet-max-width) {
    display: none;
  }
}
