.places {
  margin: 0 auto;
  width: $desktop-content-responsive;

  @media (min-width: $desktop-big-min-width) {
    padding: 0 5px;
  }

  @media (max-width: $tablet-max-width) {
    width: $tablet-content-responsive;
  }

  @media (max-width: $mobile-max-width) {
    width: $mobile-content-responsive;
    max-width: 400px;
  }
}

.places__description {
  max-width: 360px; /* CHECK */
  margin-bottom: 56px;

  @media (max-width: $tablet-max-width) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    max-width: 100%;
    text-align: center;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 19px;
  }
}

.places__header {
  position: relative;
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.245px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 20px;
    padding: 0;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: normal;
  }

  @media (max-width: $mobile-max-width) {
    font-size: 24px;
  }

  &::before {
    @include headerunderline;
  }
}

.places__text {
  padding-top: 33px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.61667px;
  color: rgba($dark, 0.7);

  @media (max-width: $tablet-max-width) {
    padding: 0;
    max-width: 350px;
  }
}

.places__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -90px; /* to compensate cards margin botton */
  width: 100%;
  column-gap: calc(60 * 100% / 1170);

  @media (max-width: $tablet-max-width) {
    position: relative;
    width: calc(606 * 100% / 726);
    column-gap: calc(34 * 100% / 726);
    margin: 0 auto;
    justify-content: center;
  }

  @media (max-width: $mobile-max-width) {
    display: block;
    width: 100%;
  }
}

.places__grid-item {
  display: block;
  margin-bottom: calc(101 * 100% / 1170);
  width: calc(350 * 100% / 1170);

  @media (min-width: 1500px) {
    margin: 0;
    margin-bottom: 101px;
    width: calc(350 * 100% / 1170);
  }

  @media (max-width: $tablet-max-width) {
    margin: 0;
    margin-bottom: 20px;
    width: calc(288 * 100% / 606);
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 35px;
    width: 100%;
  }
}
