.places-card {
  display: flex;
  position: relative;
  text-decoration: none;

  background-size: cover;
  background-repeat: no-repeat;

  &--greece {
    background-image: url("../img/card-greese-desktop.jpg");
  }

  &--albania {
    background-image: url("../img/card-albania-desktop.jpg");
  }

  &--macedonia {
    background-image: url("../img/card-macedonia-desktop.jpg");
  }

  &--montenegro {
    background-image: url("../img/card-montenegro-desktop.jpg");
  }

  &--croatia {
    background-image: url("../img/card-croatia-desktop.jpg");
  }
}

.places-card__image {
  width: 100%;
  height: auto;

  @media (max-width: $tablet-max-width) {
    min-height: 425px;
  }
}

.places-card__name {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 17px 0;
  width: 80%;
  background-color: $light;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: $dark;
}
