.places-card {
  display: flex;
  position: relative;
  text-decoration: none;

  background-size: cover;
  background-repeat: no-repeat;

  &--greece {
    background-image: url("../img/card-greese-desktop.jpg");

    @media (max-width: $tablet-max-width) {
      background-image: url("../img/card-greese-tablet-mobile.jpg");
    }
  }

  &--albania {
    background-image: url("../img/card-albania-desktop.jpg");

    @media (max-width: $tablet-max-width) {
      background-image: url("../img/card-albania-tablet-mobile.jpg");
    }
  }

  &--macedonia {
    background-image: url("../img/card-macedonia-desktop.jpg");

    @media (max-width: $tablet-max-width) {
      background-image: url("../img/card-macedonia-tablet-mobile.jpg");
    }
  }

  &--montenegro {
    background-image: url("../img/card-montenegro-desktop.jpg");

    @media (max-width: $tablet-max-width) {
      background-image: url("../img/card-montenegro-tablet-mobile.jpg");
    }
  }

  &--croatia {
    background-image: url("../img/card-croatia-desktop.jpg");

    @media (max-width: $tablet-max-width) {
      background-image: url("../img/card-croatia-tablet-mobile.jpg");
    }
  }

  &::before {
    @include beforeafter;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: $the-darkest;
    opacity: 60%;
    transition: all 0.3s ease-out;
    transform: scale(0);
    pointer-events: none;
  }

  &::after {
    @include beforeafter;
    content: "Cмотреть подробнее";
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translateX(-50%) translateY(-50%);
    border: 1px solid rgba($light, 0.7);
    padding: 30px 23px;
    font-weight: 500;
    font-size: 14px;
    color: $light;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s ease-out;
    pointer-events: none;

    width: calc(266 * 100% / 350);
  }

  &:hover {
    &::before {
      transform: scale(1);
    }

    &::after {
      opacity: 1;
    }
  }
}

.places-card__body {
  width: 100%;
  padding-top: calc(
    430 / 350 * 100%
  ); /* responsive card block (width x height) */

  @media (max-width: $tablet-max-width) {
    padding-top: calc(425 / 288 * 100%);
  }
}

.places-card__image {
  width: 100%;
  height: auto;

  @media (max-width: $tablet-max-width) {
    min-height: 425px;
  }
}

.places-card__name {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 17px 0;
  width: calc(215 * 100% / 350);
  background-color: $light;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.415px;
  color: $dark;

  @media (max-width: $tablet-max-width) {
    padding: 16px 0;
    width: calc(215 * 100% / 288);
  }
}
