.price {
  position: relative;
  left: 4px;
  display: grid;
  grid-template-columns: 77fr 41fr; /* 770px 410px */
  margin: 0 auto;
  width: Min(98%, #{$desktop-big-content-width});

  @media (max-width: $tablet-max-width) {
    display: block;
    max-width: $tablet-content-width;
  }

  @media (max-width: $mobile-max-width) {
    max-width: $mobile-content-width;
  }
}

.price__options {
  display: flex;
  column-gap: calc(30 * 100% / 770);
  order: 1;

  @media (max-width: $tablet-max-width) {
    justify-content: space-between;
    margin: 0 auto;
    max-width: 626px;
  }

  @media (max-width: $mobile-max-width) {
    display: block;
  }
}

.price__options-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(370 * 100% / 770);

  @media (max-width: $mobile-max-width) {
    margin-bottom: 30px;
  }
}

.price__info-wrapper-outer {
  display: flex;
  justify-content: flex-end;
  padding-top: 112px;
  order: 2;

  @media (max-width: 1300px) {
    padding-top: 50px;
  }

  @media (max-width: $tablet-max-width) {
    padding: 0;
    text-align: center;
    width: auto;
  }
}

.price__info-wrapper-inner {
  width: calc(268 * 100% / 370);

  @media (max-width: 1300px) {
    margin-right: 50px;
  }
}

.price__header {
  position: relative;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 20px;
    padding: 0;
    font-size: 30px;
    line-height: 150%;
  }

  @media (max-width: $mobile-max-width) {
    font-size: 24px;
  }

  &::before {
    @include headerunderline;
    width: 175px;
  }
}

.price__text {
  padding-top: 30px;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;

  @media (max-width: $tablet-max-width) {
    padding: 0;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 20px;
  }
}

.price__contacts-us {
  margin-left: 47px;
  margin-bottom: 10px;
  font-weight: 500;
  @include fluid-font(1024px, 1920px, 18px, 22px);
  line-height: 34px;

  @media (max-width: $tablet-max-width) {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.price__contacts-phone {
  padding-left: 47px;
  @include fluid-font(1024px, 1920px, 18px, 20px);
  line-height: 32px;
  text-decoration: none;

  @media (max-width: $tablet-max-width) {
    display: block;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 40px;
  }

  &::before {
    @include beforeafter;
    width: 30px;
    height: 30px;
    background-image: url("../img/phone-accent.png");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.price__buy-button {
  position: relative;
  top: -15px;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 310px;
  text-align: center;
}
