.price {
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  max-width: $desktop-content-width;

  @media (max-width: $tablet-max-width) {
    display: block;
    max-width: $tablet-content-width;
  }

  @media (max-width: $mobile-max-width) {
    max-width: $mobile-content-width;
  }
}

.price__options {
  display: flex;
  order: 1;

  @media (max-width: $tablet-max-width) {
    justify-content: space-between;
    margin: 0 auto;
    max-width: 626px;
  }

  @media (max-width: $mobile-max-width) {
    display: block;
  }
}

.price__options-item {
  @media (max-width: $mobile-max-width) {
    margin-bottom: 30px;
  }
}

.price__info-wrapper {
  padding-top: 117px;
  width: 300px; /* DELETE */
  order: 2;

  @media (max-width: $tablet-max-width) {
    padding: 0;
    text-align: center;
    width: auto;
  }
}

.price__header {
  position: relative;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 20px;
    padding: 0;
    font-size: 30px;
    line-height: 150%;
  }

  @media (max-width: $mobile-max-width) {
    font-size: 24px;
  }

  &::before {
    @include headerunderline;
    width: 175px;
  }
}

.price__text {
  padding-top: 30px;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;

  @media (max-width: $tablet-max-width) {
    padding: 0;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 20px;
  }
}

.price__contacts-us {
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;

  @media (max-width: $tablet-max-width) {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.price__contacts-phone {
  text-decoration: none;

  @media (max-width: $tablet-max-width) {
    display: block;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 40px;
  }
}
