.promo {
  color: $light;
  min-height: 860px;

  @media (max-width: $tablet-max-width) {
    min-height: 344px;
  }

  @media (max-width: $mobile-max-width) {
    position: relative;
  }

  &::before {
    @include beforeafter;
    z-index: -1;
    width: 100%;
    min-height: 860px;
    background-image: url("../img/promo-bg-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: $tablet-max-width) {
      min-height: 344px;
      background-image: url("../img/promo-bg-tablet.jpg");
    }

    @media (max-width: $mobile-max-width) {
      display: none;
    }
  }
}

.promo__inner-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  width: $desktop-content-responsive;

  @media (max-width: $tablet-max-width) {
    justify-content: center;
  }

  @media (max-width: $mobile-max-width) {
    width: auto;
  }
}

.promo__content {
  padding: 185px 0 290px;
  margin-right: 62px;
  width: 412px;

  @media (max-width: $tablet-max-width) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 60px 0 83px;
    width: auto;
    max-width: 430px;
    text-align: center;
  }

  @media (min-width: 900px) {
    max-width: 600px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 0;
    width: 100%;
    max-width: none;
  }
}

.promo__header {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.10667px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 15px;
    @include fluid-font(768px, 1023px, 30px, 35px);
    line-height: 150%;
    letter-spacing: normal;
  }

  @media (max-width: $mobile-max-width) {
    position: relative;
    margin: 0;
    padding: calc(81 * 100% / 320) 0;
    width: 100%;
    font-size: 24px;
    word-wrap: break-word;

    &::before {
      @include beforeafter;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../img/promo-bg-mobile.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.promo__header-outer-wrapper {
  @media (max-width: $mobile-max-width) {
    width: 100%;
  }
}

.promo__header-inner-wrapper {
  @media (max-width: $mobile-max-width) {
    display: block;
    padding-left: 6px;
    margin: 0 auto;
    width: 294px;
  }
}

.promo__descr-wrapper {
  @media (max-width: $mobile-max-width) {
    width: $mobile-content-responsive;
  }
}

.promo__text {
  margin-bottom: 33px;
  width: 360px;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: -0.466667px;

  @media (max-width: $tablet-max-width) {
    position: relative;
    width: auto;
    margin-bottom: 10px;
    @include fluid-font(768px, 1023px, 16px, 18px);
  }

  @media (min-width: 900px) {
    width: 450px;
  }

  @media (min-width: 800px) {
    margin-bottom: 25px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 21px;
    padding-top: 20px;
    max-width: 400px;
    color: $dark;
  }
}

.promo__link {
  margin-right: 72px;
  width: 340px;

  @media (max-width: $tablet-max-width) {
    margin: 0;
    width: 250px;
    text-align: left;
  }

  @media (max-width: $mobile-max-width) {
    width: 100%;
  }
}
